img {
  width: 300px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  transition: width 1s;
  position: absolute;
  left:  -500px;
  top: -100px;
}
img:hover {
  cursor: pointer;
}